@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* 
font-family: 'Julius Sans One', sans-serif;
font-family: 'Merriweather', serif;
 */

 :root {
    --border: 2px solid blue;
    --back: #684f49;
    --font: #ffe5d5;
 }
* {
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #804734;
    color: #ffe5d5;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
@media (max-width:400px) {
    #menu{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1.5px solid var(--font);
        position: fixed;
    }
    .logo-menu {
        width: 120px;
        margin: 25px;
    }
    .menu-list{
        list-style: none;
        margin: 50px;
        text-align: center;
        margin: 30px;
        gap: 15px;
    }
    .menu-item{
        margin-bottom: 15px
    }
    #btn-w {
        margin-left: 85%;
        margin-top: 90%;
        position: fixed;
        background: none;
        top: 80%;
    }
    .img-what {
        width: 50px;
        background-color: none;     
    }
    #contend {
        width: 100%;
        margin-top: 155px;
        border: var(--border);
        
    }
    .grid-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contend-1, .contend-3, .contend-4{
        width: 90%;
        margin: auto;
    }
    .banner-1, .banner-2, .banner-3 {
            width: 100%;
            margin-top: 15px;
    }
    #rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 60px;
        width: 100%;
        padding-left: 15px;
        box-shadow: rgba(255, 255, 255, 0.32) 0px 2px 4px 0px, rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
        height: 250px;
    }
    .iconsociais {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-size: 50px;
        margin-top: 30px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        cursor: pointer;
        
    }
    .iconsociais i{
      padding: 10px;
    }
    
    .contat {
        text-align: center;
        font-size: 1.2em;
        padding-bottom: 35px;
    }    

}
/* desktop */
#menu {
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--font);
    justify-content: space-between;
    align-items: center;
}
.logo-menu {
    height: 180px;
    margin: 10px;    
    
}
.menu-list {
    list-style: none;
    display: flex;
    gap: 45px;
    margin-right: 150px;
    font-size: 1.5em;
}

.img-what{
    position: fixed;
    top: 90%;
    width: 50px;
    left: 95%;
}
#contend {
    width: 95%;
        
    border-radius: 25px;
    margin-top: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.grid-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
.banner-1, .banner-2{
    width: 100%;
    border-radius: 25px;
    border: 1.5px solid var(--font);
}
.banner-3{
    border-radius: 25px;
    border: 1.5px solid var(--font);
}
.grid-banner-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* rodape */

#rodape{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
    padding-left: 15px;
    box-shadow: rgba(255, 255, 255, 0.32) 0px 2px 4px 0px, rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
    height: 250px;
}
.iconsociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 50px;
    margin-top: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    cursor: pointer;
    
}
.iconsociais i{
  padding: 10px;
}

.contat {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 35px;
}    




